<h2>Users <span class="footnote">- CustomerHelper</span></h2>

<ul>
  <% @users.each do |user| %>
    <% present(user, CustomerPresenter) do |customer| %>
      <li><%= customer.info %> - <%= customer.email %></li>
    <% end %>
  <% end %>
</ul>

